html {
    cursor: none;
}
body {
    background-color: black;
}
.circleCurser {
    display: none;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid aliceblue;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}
.mouseFollower {
    display: none;
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    color: aliceblue;
}